@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* Remove margins from paragraphs inside list items to avoid double spacing */
@layer base {
  ul > li > p, ol > li > p {
    margin: 0 !important;
  }
}
