@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply pb-2;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

p {
  @apply pb-2;
}

ul {
  @apply list-disc pl-6 pb-2;

  p {
    @apply p-0;
  }
}

ol {
  @apply list-decimal pl-6 pb-2;

  p {
    @apply p-0;
  }
}

hr {
  @apply py-2
}

a {
  color: theme('colors.primary');
  text-decoration: none;

  &:hover,
  &[aria-current='page'] {
    color: theme('colors.secondary');
    text-decoration: underline;
  }
}

@tailwind components;
@tailwind utilities;
